* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, .nav > a:active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: mediumaquamarine;
  text-decoration-thickness: 2px;
}

.nav {
  font-weight: 600;
}

.main {
    display:flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2em 0;
}

.content {
  align-items: flex-start;
  width: 65%;
  /* border-left:1px solid grey;
  border-right:1px solid grey; */
}

.content img {
  width: 400px;
  padding: 2em;
  border-radius: 10px;
  border:1px solid lightgrey;
  background-color: whitesmoke;
}

.header, .footer {
    display: flex;
    flex: 0 0 auto;
}

/* Header */

.wrapper {
  display: flex;
  justify-content: center;
  align-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.header {
  display: flex;
  width: 65%;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0 1em 0;

}

.site-header {
  display: flex;
}

/* Title */

.logo {
  padding: 0 1em 0 0;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1em 0 0;
}

.title > h1 {
  padding-bottom: 0.5em;
}

.logo img {
  height: 100px;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    /* border-top: 1px solid lightsteelblue; */
    padding: 4em;
    background-color: lightslategrey;
    color: lightsteelblue;
    padding: 2em;
}

.footer a {
    color: white;
    /* color: #222; */
}

.footer .social {
    font-size: 2rem;

}

/* Typografy */

body {
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    /* margin-bottom: 0.6em; */
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}
