/* Variables and colors for layout */

:root {
    --bgcolor-tech-box: #f8f8ff; //ghostwhite
    --tech-box-shadow: #f5f5f5; //whitsmoke
    --color-tech-box: #f9f9f9;
    --body-link: #6200ee; //purple
    --body-link-decoration: #cfb2f9; //lightpurple
}
