/*
      D A R K  T H E M E
Variables and colors for dark theme.

*/

:root {
    --bgcolor-tech-box: #f8f8ff; //ghostwhite
    --tech-box-shadow: #f5f5f5; //whitsmoke
    --color-tech-box: #f9f9f9;
    --body-font-color: #d2d2d2;
    --body-link: #6200ee; //green
    --body-link-decoration: #f7a694; //salmon

    /* header */

    /* main */
    --main-font-color: #d2d2d2;
    --main-font-alternative-color: #fff;
    --main-accent-color: #f7a694;
    --main-background-color: #1f1b24; //darkgrey
    --main-background-alternative-color: #e0fbfc;
    --code-background-color: #121212;
    --code-font-color: #d2d2d2;
    --box-border-color: #fff;

    /* footer */
    --footer-background-color: #121212; // darkgrey
    --footer-link-color: #fff; // purple

    /* content img */
    --img-border-color: #d3d3d3; // lightgrey
    --img-background-color: #000; // black

    /* table */
    --table-background-color: var(--img-background-color);
}
