:root {
    --body-serif: 'PT Serif', serif;
    --body-sans-serif: 'Inter', Helvetica, sans-serif;
    --headlines-serif: 'PT Serif', serif;
    --headlines-sans-serif: 'Inter', Helvetica, sans-serif;
    --pre-code: 'IBM Plex Mono', monospace;
}
