/* Placement */

body {
    display: flex;
    flex-direction: column;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--body-link-decoration);
}

#nav {
    a:link,
    a:visited {
        text-decoration: none;
        color: var(--main-font-color);
    }

    a:active {
        color: var(--body-link-decoration);
    }

    a:hover {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: var(--body-link-decoration);
        text-decoration-thickness: 2px;
    }
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--body-link-decoration);
    text-decoration-thickness: 2px;
}

.grid-main a {
    color: var(--body-link);
    font-family: var(--body-sans-serif);
    font-weight: bold;
}

.grid-main a:link,
.grid-main a:visited {
    text-decoration: none;
    color: var(--body-link);
}

.grid-main a:hover,
.grid-main > a:active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--body-link-decoration);
    text-decoration-thickness: 2px;
}

.nav {
    display: flex;
    font-weight: 600;
}

.main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2em;
}

.content {
    align-items: flex-start;
    width: 65%;
}

.content img {
    width: 400px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    border: var(--img-border-color);
    background-color: var(--img-background-color);
}

.header,
.footer {
    display: flex;
    flex: 0 0 auto;
}
