@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'fonts';
@import 'placement';
@import 'header';
@import 'footer';
@import 'typography';
@import 'font-awesome';
@import 'report';
@import 'colors';
@import 'tech-landingpage';
@import 'tech-content';
@import '/../../shared/css/font-awsome.min.css';

body {
    background-color: $background-color;
    color: $font-color;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;

}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
    font-family: var(--body-serif);
}


/* Title */
.logo {
    display: flex;
    align-items: center;
    padding: 0 1em 0 0;
}

.title {
    @include theme;
    // display: flex;
    // justify-content: center;
    // padding: 0 1em 0 0;
}

.title-small {
    display: none;
    font-size: 0.5em;
}

.logo img {
    height: 100px;
}

@media (max-width: 1300px) {
    .header {
        flex-flow: column;
        padding: 1em 1em 1em 0;
    }
}



@media (max-width: 767px) {
    .title-small {
        display: flex;
    }

    .site-header {
        justify-content: space-between;
        width: 100%;
    }

    .title,
    .logo {
        display: none;
        padding: 1em 1em 1em 0;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

.main {
    background-color: yellow;
}
