.grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 1em;
    padding: 1em;
}

.grid h1,
.grid h2,
.grid h3 {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-self: center;
}

.tech-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
    min-width: 150px;
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--box-border-color);
    // background-color: var(--bgcolor-tech-box);
    // box-shadow: 5px 5px var(--tech-box-shadow);
    font-family: var(--body-sans-serif);
}

.tech-box.project {
    display: flex;
    grid-column: span 3;
}


@media (max-width: 1300px) {
    .grid {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 1em 1em;
        padding: 1em;
    }
    //
    // .tech-box,
    // .tech-box.project {
    //     grid-column-start: 2;
    // }
}


@media (max-width: 767px) {
    .grid {
        display: grid;
        max-width: 100%;
        grid-template-columns: 25px auto 25px;
        gap: 1em 0;
        padding: 1em;
    }

    .tech-box,
    .tech-box.project {
        grid-column-start: 2;
    }
}
