/* grid layout for tech content */

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px repeat(4, 200px);
    gap: 1em 1em;
    border: 1px solid blue;
    padding: 2em;
}

.grid h1,
.grid h2,
.grid h3 {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-self: center;
    border: 1px solid pink;
}

.tech-box {
    display: flex;
    justify-content: center;
    border: 1px solid pink;
    box-shadow: 2px 2px 0 whitesmoke;
}

.tech-box.project {
    display: flex;
    grid-column: span 3;
    border: 1px solid pink;
}
