/* Typography */

body {
    line-height: 1.5rem;
    color: var(--body-font-color);
}

p,
td,
th,
li,
ol,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin-bottom: 0.6em; */
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-family: var(--headlines-sans-serif);
}

.header {
    font-family: var(--headlines-sans-serif);
}

.footer {
    font-family: var(--body-sans-serif);
    font-size: 1rem;
}

.footer a {
    color: var(--footer-link-color);
}

.footer-copyright {
    font-size: 0.7em;
}

img {
    max-width: 100%;
}
